html {
  background-color: #e9ecef;
}

body {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  height: 100vh;
}

.add {
  padding-top: 0.5rem;
} 

.todo-list {
  width: 75%;
  padding-top: 2rem;
}

button,
button:focus {
  outline: none;
}

input[type="checkbox"] {
  transform: scale(1.2);
}
